pandas
numpy
matplotlib
scipy
seaborn
prefect
scikit-learn
openai
pypdf
python-dotenv
llama-index-core==0.14.24
llama-index-embeddings-openai
llama-index-readers-file
llama-index-llms-openai
smolagents
